.img-container {
  display: flex;
  max-height: fit-content;
  max-width: fit-content;
}

img {
  // height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 3px 6px 3px grey;
  // margin: auto;
}


