@import '../../index.scss';

.nav-header {
  height: 7em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // position: fixed;
  // top: 0;
  background-color: white;
  border-bottom: solid black 1px;
  padding: 20px;

  .logo-container {
    width: 100px;
    text-align: center;
  }

  h1 {
    @include headerButton;
    font-size: 35px;

    &:hover {
      @include hoverButton;
    }
  }

  .header-title {
    width: 7em;
  }

  a {
    height: 1em;
  }

  h2 {
    @include headerButton;
    font-size: 3vh;
    // margin-top: 22px;
    font-weight:  100;
    text-transform: none;
    padding: 0;

    &:hover {
      @include hoverButton;
    }
  }

}
