* {
  // border: 1px solid red;
}

.art-details {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.details-image {
  height: 85vh;
  max-height: 90vh;
  max-width: 65%;
  margin-top: 15px;
}

.full-details {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  font-size: 1.75vh;
  border: 1px solid black;
  padding: .5em 1em;
}

.full-details > h2,
.full-details > h3,
.full-details > p {
  width: 90%;
  margin-bottom: .4em;
}

@media only screen and (max-width: 1050px) {
  .art-details {
    flex-direction: column;
  }

  .details-image {
    height: auto;
    width: auto;
    max-width: 90%;
    margin-bottom: 10%;
  }

  .full-details {
    width: 90%;
    font-size: 2.1vh;
  }
}